<body>
  <div class="container">
    <h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle"
        viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
      </svg>
      Login
    </h2>
    <form [formGroup]="loginform" (ngSubmit)="loginForm();">
      <div class="form-group">
        <b> <label for="exampleUserName">Username <sup style="color: red;">*</sup>&nbsp; :</label></b>
        <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="userName"
          placeholder="Enter userName">
        <span *ngIf="loginform.get('userName')?.touched && loginform.get('userName')?.hasError('required')">
          Username should not be empty</span>
      </div><br>
      <div class="form-group">
        <b> <label for="examplePassword">Password<sup style="color: red;">*</sup>&nbsp; :</label></b>
        <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="password"
          placeholder="Enter password">
        <span *ngIf="loginform.get('password')?.touched && loginform.get('password')?.hasError('required')">
          password should not be empty</span>
      </div><br>
      <button mat-button type="submit" class="btn btn-info" [disabled]="!loginform.valid">Login</button>&nbsp;
      <button mat-raised-button type="button" class="btn btn-warning" (click)="resetForm();">Reset</button>&nbsp;
      <a class="nav-link" href="register">Don't have an account ? Sign up</a>

      <!--- <a routerLink="/main" class="btn btn-info">Back</a> !-->

    </form>
  </div>
</body>