<!-- <p>fc-date works!</p> -->
<div class="example-full-width" [formGroup]="parentForm ? parentForm :null">
    <label class="fc-form-label">{{placeholder}}</label>
    <label [for]="placeholder" class="fc-form-label" *ngIf="inputRequired" class="fc-mandatory-field">&nbsp; *</label>
    <div class="input-group mb-3">
        <input type="text" placeholder="DD-MM-YYYY" [formControlName]="control ? control :null" #dp="bsDatepicker"
            [attr.disabled]="isDisabled ? isDisabled : null" (bsValueChange)="valueChange($event)" bsDatepicker
            class="form-control" [minDate]="mindate ? mindate : null" [maxDate]="maxDate ? maxDate : null"
            placement="top" [bsConfig]="{
            adaptivePosition=true,
            dateInputFormate='YYYY-MM-DD',
            containerClass='theme-dark-blue',
            showWeekNumber=false
        }">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen" type="button"
                [attr.disabled]="attr.disabled ? attr.disabled : null">
                <mat-icon class="datepicker-icon">date_range</mat-icon>
            </button>
        </div>
    </div>
</div>