<!-------------parent to child--------------------->

<div>
    <h2>Child component</h2>
    <h3>Data from parent : {{cname}} </h3>
</div>

<!-------------child to parent--------------------->

<!-- <div>
    <h2>Child component</h2>
    <input type="text" #data>
    <button (click)="sendData(data.value)" >submit</button>
</div> -->

<!-------------child to parent--------------------->

<!-- <div>
    <h3>Child component</h3
    <button (click)="sendData()" >Sending data to parent</button>
</div> -->
